:root {
  --rounded-full: 50%;

  /* Colors */
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
}

main#app {
  display: grid;
  grid-template-columns: 2rem 1fr 2rem;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    ". heading ."
    ". carousel .";
}
.heading {
  grid-area: heading;
}
.carousel {
  grid-area: carousel;
  height: 600px;
  width: 100%;
  max-width: 600px;
}

button {
  cursor: pointer;
}

.carousel__track-container {
  height: 100%;
}

.carousel__track {
  position: relative;
  display: flex;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.carousel__slide {
  position: absolute;
  height: 100%;
  width: 100%;
}
.carousel__slide img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.carousel__actions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.carousel__slideshow-progress {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  padding: 0.25rem 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
button.pause-play {
  display: flex;
  place-items: center;
  border: none;
  background: transparent;
  border-radius: var(--rounded-full);
  padding: 0.25rem;
}
button.pause-play svg {
  fill: var(--black);
}
button.pause-play:hover {
  background: rgba(0, 0, 0, 0.3);
}
.carousel__dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}
.carousel__dot {
  height: 1rem;
  width: 1rem;
  border-radius: var(--rounded-full);
  box-shadow: none;
  border: none;
  background: rgba(0, 0, 0, 0.15);
}
.carousel__dot.current {
  background: rgba(255, 255, 255, 1);
}
