:root {
  --rounded-full: 50%;

  /* Colors */
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --container-bg: rgba(0, 0, 0, 0.3);
  --bg-hover: rgba(0, 0, 0, 0.3);
}

button {
  cursor: pointer;
}

main#app {
  display: grid;
  grid-template-columns: 2rem 1fr 2rem;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    ". heading ."
    ". carousel .";
}
.heading {
  grid-area: heading;
}
.carousel {
  grid-area: carousel;
  height: 600px;
  width: 100%;
  max-width: 600px;
}

.carousel__track-container {
  height: 100%;
}

.carousel__track {
  position: relative;
  display: flex;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.carousel__slide {
  position: absolute;
  height: 100%;
  width: 100%;
}
.carousel__slide img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.carousel__actions-container {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: 1rem 1fr 1rem;
  grid-template-areas:
    ". . ."
    "progress . buttons"
    ". . .";
}

.carousel__slideshow-progress {
  grid-area: progress;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  background: var(--container-bg);
  border-radius: 2rem;
  padding: 0.4rem 0;
  padding-right: 0.75rem;
  padding-left: 0.5rem;
}
button.pause-play {
  display: flex;
  place-items: center;
  border: none;
  background: transparent;
  border-radius: var(--rounded-full);
  padding: 0.25rem;
}
button.pause-play svg {
  fill: var(--white);
  stroke: var(--white);
  stroke-width: 0.5px;
}
button.pause-play:hover {
  background: var(--bg-hover);
}
.carousel__dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.carousel__dot {
  height: 0.75rem;
  width: 0.75rem;
  border-radius: var(--rounded-full);
  box-shadow: none;
  border: none;
  background: rgba(0, 0, 0, 0.15);
}
.carousel__dot:hover {
  background: var(--bg-hover);
}
.carousel__dot.active {
  background: var(--white);
}

.carousel__buttons {
  grid-area: buttons;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}
.carousel__button {
  position: relative;
  border: none;
  background: var(--container-bg);
  border-radius: var(--rounded-full);
  height: 100%;
  aspect-ratio: 1;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel__button:hover {
  background: var(--bg-hover);
}
.carousel__chevron {
  stroke: var(--white);
  stroke-width: 3px;
}
.carousel__chevron--left {
  padding-right: 4px;
}
.carousel__chevron--right {
  padding-left: 4px;
}
