main#app {
  display: grid;
  grid-template-columns: 2rem 1fr 2rem;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    ". heading ."
    ". carousel .";
}
.heading {
  grid-area: heading;
}
.carousel {
  grid-area: carousel;
  height: 600px;
  width: 100%;
  max-width: 600px;
}

.carousel__track-container {
  height: 100%;
}

.carousel__track {
  position: relative;
  display: flex;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.carousel__slide {
  position: absolute;
  height: 100%;
  width: 100%;
}
.carousel__slide img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
