html,
body {
  box-sizing: border-box;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  font-size: 100%;
}
body {
  display: grid;
  grid-template-columns: 1fr minmax(0, 80%) 1fr;
  grid-template-areas: ". carousel .";
}
button {
  border: none;
  box-shadow: none;
}

.carousel-container {
  grid-area: carousel;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  overflow-x: clip;
}

.carousel {
  display: flex;
  transition: transform ease-in-out 600ms;
}

.carousel-slide {
  flex: 0 0 100%;
  max-width: 100%;
}

.carousel-slide > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.carousel-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel-buttons-wrapper {
  display: flex;
  flex-shrink: 0;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
}

.carousel-autoplay-and-dots-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.carousel-autoplay-button {
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.autoplay-text {
  display: none;
}
.autoplay-text.visible {
  display: block;
}

.carousel-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}
.carousel-dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.carousel-dot:not(.active):hover {
  background: rgba(0, 0, 0, 0.2);
}
.carousel-dot.active {
  background: rgba(0, 0, 0, 0.3);
}
