---
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import "@styles/carousel/advanced-vanilla.css";
import { ChevronLeft, ChevronRight, Pause, Play } from "lucide-astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main id="app">
      <div class="heading">
        <h3>🖼️ Image Carousel</h3>
        <p>Advanced Vanilla JS Implementation</p>
      </div>

      <div class="carousel" aria-role="region" aria-label="Image Carousel">
        <div class="carousel__track-container">
          <ul class="carousel__track" aria-live="polite" aria-atomic="true">
          </ul>
        </div>

        <div class="carousel__actions-container">
          <div class="carousel__slideshow-progress">
            <button class="carousel__autoplay-btn">
              <span
                class="carousel__autoplay-icon carousel__autoplay-icon--stop"
              >
                <Pause />
              </span>
              <span
                class="carousel__autoplay-icon carousel__autoplay-icon--start"
              >
                <Play />
              </span>
            </button>

            <div
              class="carousel__dots"
              role="tablist"
              aria-label="Slide indicators"
            >
            </div>
          </div>

          <div class="carousel__buttons">
            <button
              class="carousel__button carousel__button--left"
              aria-controls="carousel"
              aria-label="Prev slide"
            >
              <ChevronLeft class="carousel__chevron carousel__chevron--left" />
            </button>
            <button
              class="carousel__button carousel__button--right"
              aria-controls="carousel"
              aria-label="Next slide"
            >
              <ChevronRight
                class="carousel__chevron carousel__chevron--right"
              />
            </button>
          </div>
        </div>
      </div>
    </main>
  </body><script src="../../scripts/carousel/advanced-vanilla/init.ts"></script>
</html>
