---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Document</title>
    <style>
      html,
      body {
        min-height: 100dvh;
        font-size: 100%;
      }
      body {
        display: grid;
        grid-template-columns: 20% 1fr 20%;
        grid-template-areas:
          ". . ."
          ". carousel ."
          ". . .";
      }

      .carousel-container {
        grid-area: carousel;
        width: 100%;
        height: 100%;
      }

      .carousel-track-container {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 2rem;
      }

      .carousel-track {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.3s ease;
      }

      .carousel-slide {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
      }

      .carousel-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      button {
        border: none;
        cursor: pointer;
        font-size: 1rem;
        border-radius: 2rem;
        padding: 0.25rem 1rem;
        box-shadow: none;
      }

      .buttons-container {
        display: flex;
        justify-content: space-between;
        padding: 0.75rem 0;
        font-size: 1.2rem;
      }
      .navigation-buttons {
        display: flex;
        gap: 0.5rem;
      }

      .carousel-button svg {
        width: 24px;
        height: 24px;
      }

      .indicator-buttons {
        display: flex;
        gap: 1rem;
      }
      .dots-container {
        display: flex;
        align-items: center;
        gap: 0.2rem;
      }
      .dots-container > button.dot {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.3);
        border: none;
        padding: 0;
        margin: 0 4px;
        cursor: pointer;
      }
      .dots-container > button.dot:hover,
      .dots-container > button.dot:focus {
        background: rgba(0, 0, 0, 0.5);
      }
      .dots-container > button.dot.active {
        background: rgba(0, 0, 0, 0.7);
      }

      .hidden {
        display: none;
      }
    </style>
  </head>
  <body>
    <div class="carousel-container">
      <div class="carousel-track-container">
        <div class="carousel-track">
          <div class="carousel-slide">
            <img
              src="/images/horizontal/festival.jpg"
              alt="Image 1"
              class="carousel-image"
            />
          </div>
          <div class="carousel-slide">
            <img
              src="/images/horizontal/grove.jpg"
              alt="Image 2"
              class="carousel-image"
            />
          </div>
          <div class="carousel-slide">
            <img
              src="/images/horizontal/meditation.jpg"
              alt="Image 3"
              class="carousel-image"
            />
          </div>
          <div class="carousel-slide">
            <img
              src="/images/horizontal/snow.jpg"
              alt="Image 4"
              class="carousel-image"
            />
          </div>
        </div>
      </div>
      <div class="buttons-container">
        <div class="indicator-buttons">
          <button
            class="carousel-button carousel-button--pause"
            aria-label="Stop autoplay"
          >
            <svg>
              <use href="#pause"></use>
            </svg>
          </button>

          <button
            class="carousel-button carousel-button--play"
            aria-label="Start autoplay"
          >
            <svg>
              <use href="#play"></use>
            </svg>
          </button>

          <div
            class="dots-container"
            role="tablist"
            aria-label="Slide indicators"
          >
          </div>
        </div>

        <div class="navigation-buttons">
          <button class="carousel-button prev" aria-label="Previous slide">
            <svg>
              <use href="#chevron-left"></use>
            </svg>
          </button>
          <button class="carousel-button next" aria-label="Next slide">
            <svg>
              <use href="#chevron-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="chevron-left" viewBox="0 0 24 24">
        <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
      </symbol>
      <symbol id="chevron-right" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
      </symbol>
      <symbol id="pause" viewBox="0 0 24 24">
        <path d="M6 19h4V5H6v14zm8-14v14h4V5h-4z"></path>
      </symbol>
      <symbol id="play" viewBox="0 0 24 24">
        <path d="M8 5v14l11-7z"></path>
      </symbol>
    </svg>
  </body>

  <script src="../../scripts/carousel/interview/init.ts"></script>
</html>
