---
import BaseHead from "@components/BaseHead.astro";
import "@styles/autocomplete/basic.css";
import { ChevronsUpDown } from "lucide-astro";
---

<html lang="en">
  <head>
    <BaseHead
      title="Autocomplete | Basic"
      description="Autocomplete UI component built with vanilla JS, HTML and CSS."
    />
  </head>
  <body>
    <header>
      <h3>🔍 Basic Autocomplete</h3>
    </header>

    <main class="autocomplete__container">
      <div class="autocomplete__search-input-container">
        <input
          class="autocomplete__search-input"
          role="combobox"
          aria-autocomplete="list"
          aria-label="Autocomplete search input"
          aria-expanded="false"
          aria-owns="autocomplete__suggestions-list"
          aria-activedescendant=""
        />
        <span class="icon icon--right">
          <ChevronsUpDown />
        </span>
      </div>

      <div class="autocomplete__popover" aria-hidden="true">
        <div class="autocomplete__suggestions-container show">
          <div class="autocomplete__suggestions-relative-wrapper">
            <ul
              class="autocomplete__suggestions"
              id="autocomplete__suggestions-list"
              role="listbox"
            >
            </ul>
          </div>
        </div>
      </div>
    </main>
  </body><script src="../../scripts/autocomplete/basic/init.ts"></script>
</html>
