---
import BaseHead from "@components/BaseHead.astro";
---

<html lang="en">
  <head>
    <BaseHead
      title="Autocomplete | Basic"
      description="Autocomplete UI component built with vanilla JS, HTML and CSS."
    />

    <style>
      html,
      body {
        min-height: 100dvh;
      }
      body {
        width: 90%;
        margin-inline: auto;
        /* display: grid; */
      }
      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
      }

      .autocomplete__container {
        width: 50%;
      }
      .autocomplete__search-input-container {
        position: relative;
      }
      .autocomplete__search-input {
        width: 100%;
      }
      .autocomplete__popover {
        position: relative;
      }
      .autocomplete__suggestions-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
      }

      .hidden {
        display: none;
      }
    </style>
  </head>
  <body>
    <header>
      <h3>🔍 Basic Autocomplete</h3>
    </header>

    <main class="autocomplete__container">
      <div class="autocomplete__search-input-container">
        <input
          class="autocomplete__search-input"
          role="combobox"
          aria-autocomplete="list"
          aria-label="Autocomplete search input"
          aria-expanded="false"
          aria-owns="autocomplete__suggestions-list"
          aria-activedescendant=""
        />
      </div>

      <div class="autocomplete__popover hidden" aria-hidden="true">
        <div class="autocomplete__suggestions-container">
          <ul
            class="autocomplete__suggestions"
            id="autocomplete__suggestions-list"
            role="listbox"
          >
            <li id="item-1" class="autocomplete__suggestion-item" role="option">
              Banana
            </li>
            <li
              id="item-2"
              class="autocomplete__suggestion-item"
              role="option"
              aria-selected="false"
            >
              Orange
            </li>
            <li
              id="item-3"
              class="autocomplete__suggestion-item"
              role="option"
              aria-selected="false"
            >
              Apple
            </li>
            <li
              id="item-4"
              class="autocomplete__suggestion-item"
              role="option"
              aria-selected="false"
            >
              Mango
            </li>
            <li
              id="item-5"
              class="autocomplete__suggestion-item"
              role="option"
              aria-selected="false"
            >
              Kiwi
            </li>
            <li
              id="item-6"
              class="autocomplete__suggestion-item"
              role="option"
              aria-selected="false"
            >
              Pineapple
            </li>
          </ul>
        </div>
      </div>
    </main>
  </body><script src="../../scripts/autocomplete/basic/init.ts"></script>
</html>
