---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Sign-Up Form</title>
  </head>
  <style></style>
  <body>
    <form id="registrationForm" novalidate>
      <h1>Create Your Account</h1>
      <input />
      <button type="submit"></button>
    </form>
  </body>
</html>
